version: 2
jobs:
    php73:
      docker:
        - image: circleci/php:7.3-apache
      steps:
        - run: composer self-update
        - run: composer install --no-interaction
        - run: vendor/bin/phpunit

    php74:
      docker:
        - image: circleci/php:7.4-apache
      steps:
        - run: composer self-update
        - run: composer install --no-interaction
        - run: vendor/bin/phpunit

workflows:
  version: 2
  build:
    jobs:
      - php73
      - php74
