version: 2
jobs:
  php7.3:
    docker:
      - image: circleci/php:7.3-apache
    working_directory: ~/repo
    steps:
      - run: composer self-update
      - run: composer install --no-interaction
      - run: vendor/bin/phpunit

  php7.4:
    docker:
      - image: circleci/php:7.3-apache
    working_directory: ~/repo
    steps:
      - run: composer self-update
      - run: composer install --no-interaction
      - run: vendor/bin/phpunit
